body {
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-gradiente-suave_77528-21.jpg?size=626&ext=jpg");
    background-size: cover;
    font-family: Arial; 
    heigth: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color:whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }